<p>Olá,</p>
<p>Somos a WantToHelp, um projeto que busca aproximar pessoas que pretendem colocaborar de forma voluntária, e organizações que buscam voluntários.</p>
<p>O projeto foi elaborado atráves da iniciativa do Leonardo Scorza fundador do site OneBitCode, que vem desde então contribuindo de forma efetiva, influenciando positivimente na carreira dos programadores que estão iniciando no vasto mundo da programação em especial na linguagem Ruby on Rails.</p>
<p>Qual das opções você deseja?</p>
<a href="<%= new_organization_path %>" class="waves-effect waves-light btn"><i class="material-icons left">business</i>Organização</a>
<a href="<%= new_volunteer_path %>" class="waves-effect waves-light btn"><i class="material-icons left">perm_identity</i>Voluntário</a>
