<div class="card-panel red lighten-3">
  <center>
    <h5>Atenção</h5>
      <p>
        <h6>Mesmo aceitando um voluntário, ele só fará parte da instituição após
    ser confirmado o contato físico entre ambos. Após ser aceito o voluntário terá o período de 07 dias para comparecer a instituição.
    Caso este contato ja tenha sido realizado confirme-o na tela de <%= link_to 'Candidatos Pendentes', root_path %>.
        </h6>
      </p>
  </center>
</div>
<div>
</br>
<h3 align="center">Candidatos</h3>
<table>
        <thead>
          <tr>
              <th>Nome</th>
              <th>Trabalho</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Programador</td>
            <td><a class="waves-effect waves-light btn done">Aceitar</a>

               <a class="waves-effect waves-light btn red lighten-2">Rejeitar</a>
             </td>
          </tr>
        </tbody>
      </table>
<div>
